/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* For Scroll Bar across web pages*/
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.5rem;
  border: 0.2rem solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.custom-layout{
  margin: 2% 2.5% 2% 2.5%;
}

.right{
  float:right;
}

.left{
  float:left;
}

.content-direction {
  display: inline-flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
