/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-layout{
  margin: 2% 2.5% 2% 2.5%;
}

.right{
  float:right;
}

.left{
  float:left;
}

.content-direction {
  display: inline-flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
