<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [ngClass]="{hidden: ((isHandset$ | async) === false)}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'side' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/register" *ngIf="!this.authenticateService.isLoggedIn()">
        <mat-icon>person_add</mat-icon>
        Register
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span routerLink="/">MicroFinance</span>

      <span class="spacer"></span>

      <button mat-button routerLink="/requests_customer" matTooltip="Requests"
              *ngIf="this.authenticateService.isLoggedIn()">
        <mat-icon>table_rows</mat-icon>
        Requests
      </button>

      <button mat-button routerLink="/products_customer" matTooltip="Products"
              *ngIf="this.authenticateService.isLoggedIn()">
        <mat-icon>euro</mat-icon>
        Products
      </button>

      <button mat-button routerLink="/register" matTooltip="Register"
              *ngIf="!this.authenticateService.isLoggedIn()">
        <mat-icon>person_add</mat-icon>
        Register
      </button>

      <button mat-button routerLink="/login" matTooltip="Sign In"
              *ngIf="!this.authenticateService.isLoggedIn()">
        <mat-icon>login</mat-icon>
        Sign In
      </button>

      <mat-icon matTooltip="Authenticated" *ngIf="this.authenticateService.isLoggedIn()">
        verified_user
      </mat-icon>

      <button mat-icon-button *ngIf="this.authenticateService.isLoggedIn()" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="openCustomerDialog()" mat-menu-item matTooltip="Edit Profile">
          <mat-icon>perm_identity</mat-icon>
          <span>Edit Profile</span>
        </button>
        <button mat-menu-item matTooltip="Sign Out" (click)="this.authenticateService.logout()">
          <mat-icon>clear</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>

    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
