<div class="container">
  <mat-card>
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <mat-label> First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="First name" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label> Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="Last name" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>National Identity Card details</ng-template>
          <mat-form-field>
            <mat-label>National Identity Card</mat-label>
            <input matInput formControlName="nic" placeholder="NIC number" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Date of Birth</ng-template>
          <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput formControlName="dateOfBirth" placeholder="Date of Birth" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Contact Details</ng-template>
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone" placeholder="Ex. 5*** ****" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
          <ng-template matStepLabel>Register Account</ng-template>
          <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" placeholder="example@yahoo.com" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Choose Wisely" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="processStepperData()">Submit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>

