<mat-tab-group (selectedTabChange)="loadTabs($event)" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mat-icon-tab">view_array</mat-icon>
      View All Products
    </ng-template>

    <app-products-rud *ngIf="isRud"></app-products-rud>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mat-icon-tab">add</mat-icon>
      Add Product
    </ng-template>

    <app-products-create *ngIf="isCreate"></app-products-create>
  </mat-tab>
</mat-tab-group>
